page-home {

}

.toolbar-title{
    background: url("../assets/images/logo.png") no-repeat;
    width:150px;
    height: 56px;
    margin:0 auto;
    text-indent: -9999px;
}

.title{
    background: url("../assets/images/logo-white.png") no-repeat;
    width:150px;
    height: 56px;
    margin: 50px auto 20px auto;
    text-indent: -9999px;
}
.login{
    background: url("../assets/images/bkg.png") fixed center;
        margin: 0 auto;
    width: 100%;
    background-size: 100% 100%;
}

@font-face {
	font-family: 'Grown Localy';
	src: url('../assets/fonts/GrownLocaly.eot');
	src: url('../assets/fonts/GrownLocaly.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/GrownLocaly.woff') format('woff'),
		url('../assets/fonts/GrownLocaly.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.live{
    font-family: 'Grown Localy';
			font-weight: normal;
			font-style: normal;
}
.scroll-content{
    width: 50%;
    margin: 0 auto;
    top:20%;
}

.toolbar-background-md{
    background: none !important;
    border:none !important;
}

@media screen and (max-width: 375px) {
  .scroll-content{
    min-width: 100%;
}
}